<?xml version="1.0"?>

<!--
  CS22B1090
  Shubh Khandelwal
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <ros2_control name="manipulator_control" type="system">

    <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <joint name="joint_01">
      <command_interface name="position">
        <param name="min">-3.14</param>
        <param name="max">3.14</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    
    <joint name="joint_23">
      <command_interface name="position">
        <param name="min">0.00</param>
        <param name="max">1.57</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="joint_45">
      <command_interface name="position">
        <param name="min">0.00</param>
        <param name="max">1.57</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <joint name="joint_67">
      <command_interface name="position">
        <param name="min">0.00</param>
        <param name="max">1.57</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

  </ros2_control>
    
</robot>